{% extends 'base2.html' %}
{% block content %}


<script type="text/javascript">
	function validation()
	{
		
		var catagoryname=document.getElementById("catagoryname")

		if(catagoryname.value.length == 0)
		{
			alert("Please enter catagory name")
			return false;
		}
		else
		{
			return true;
		}
		}
	</script>







<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:#000">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
	<h2>Add Catagory of your choice</h2>
          
          </div>

        </div>

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'AddCatagoryAction' %}">
		{% csrf_token %}
		
              <div class="row">
                
                
              
              
		
              
		<div class="form-group mt-3">
		<input type="text" name="catagoryname" class="form-control" id="catagoryname" placeholder="Catagory Name" required style="width:200%;margin-left:186px">
		</div>
              <div class="form-group mt-3">
              <div class="text-center"><button type="submit" onclick="return validation()" style="margin-left:289px">Add</button></div>
		</div>
		
		</div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->






	
	
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}