{% extends 'base11.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
		
		var productname=document.getElementById("productname")
		var price=document.getElementById("price")
		var details=document.getElementById("details")
		var stock=document.getElementById("stock")
		var catagory=document.getElementById("catagory")
		var image=document.getElementById("image")
		
		if(productname.value.length == 0)
		{
			alert("Please enter the productname")
			return false;
		}
		if(price.value.length == 0)
		{
			alert("Please enter the price")
			return false;
		}
		if(details.value.length == 0)
		{
			alert("Please enter the details")
			return false;
		}
		if(stock.value.length == 0)
		{
			alert("Please enter the stock")
			return false;
		}
		if(catagory.value.length == 0)
		{
			alert("Please enter the catagory")
			return false;
		}
		if(image.value.length == 0)
		{
			alert("Please select the image")
			return false;
		}
		else
		{
			return true;
		}
		}
	</script>









<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg"  style="width:60%;margin:0 auto;color:white;background-color:rgba(0,0,0,0.5)">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Add products</h2>
          <p>Add products that you wish to be there in the list for the users to buy</p>
        </div>

        

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'addproductAction'%}" enctype="multipart/form-data">
		{% csrf_token %}
              <div class="row">
                <div class="form-group mt-3">
                  <input type="text" name="productname" class="form-control" id="productname" placeholder="Product Name" required style="width:100%;margin-left:186px">
                </div>
                
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="price" id="price" placeholder="price" required style="width:100%;margin-left:186px">
              </div>

		<div class="form-group mt-3">
                <input type="text" class="form-control" name="details" id="details" placeholder="details" required style="width:100%;margin-left:186px">
              </div>

		<div class="form-group mt-3">
                <input type="text" class="form-control" name="stock" id="stock" placeholder="stock" required style="width:100%;margin-left:186px">
              </div>

		<div class="form-group mt-3">
		<select name="catagory" id="catagory" style="width:100%;margin-left:186px">
			<option value="">---select---</option>
				{% for v in data %}
			<option value="{{v.id}}">{{v.catagory}}</option>
				{% endfor %}
		</select>

		</div>
              <div class="form-group mt-3">
                <input type="file" class="form-control" name="file" id="image" placeholder="file" required style="width:100%;margin-left:186px">
              </div>
              
              <div class="form-group mt-3"><button type="submit" style="margin-left:313px">Add</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->









	
		
	
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}