{% extends 'base2.html' %}
{% block content %}

<script type="text/javascript">
	function validation()
	{
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;

		
		var newpassword=document.getElementById("newpassword")
		var confpassword=document.getElementById("confpassword")
		
				
		
		if(newpassword.value.length == 0)
		{
			alert("Please enter a new password")
			return false;
		}
		else if(confpassword.value.length == 0)
		{
			alert("Please enter confirmation password")
			return false;
		}
		
		
		else
		{
		 	return true; 
		}
		}
	</script>


<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:rgba(0,0,0,0.5)">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
	<h2>Enter New Password and Confirm the password</h2>
          
          </div>

        </div>

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'confirmationpasswordAction' %}" name="form">
		{% csrf_token %}

		{% for v in data %}
			<input type="hidden" name="username" value="{{v.username}}">
			{% endfor %}
              <div class="row">
		
               <div class="col-md-6 form-group">
                  
		<input type="text" name="newpassword" class="form-control" id="newpassword" placeholder="New Password"  style="width:100%;margin-left:150px">
                </div>
		<div class="col-md-6 form-group">
                  <input type="text" name="confpassword" class="form-control" id="confpassword" placeholder="Confirm Password" style="width:100%;margin-left:250px">
                </div>

		<div class="form-group mt-3">
              <div class="text-center"><button type="submit" onclick="return validation()" style="margin-left:333px">Submit</button></div>
		</div>
            </form>
          </div>

        </div>

      </div>


		
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}
			