{% extends 'base2.html' %}
{% block content %}
<script type = "text/javascript">
	function validation()
	{
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0=9]+$/;

		var username=document.getElementById("username")
	
		if(username.value.length == 0)
		{
			alert("Please enter username")
			return false;
		}
		
		else
		{
			return true;
		}
		}
</script>



<section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:rgba(0,0,0,0.5)">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
	<h2>Forgot Password</h2>

	<div class="col-lg-6">
            <form method="post" action="{% url 'forgotAction' %}" name="form">
		{% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required style="width:100%;margin-left:250px">
                </div>
		
		<div class="form-group mt-3">
              <div class="text-center"><button type="submit" onclick="return validation()" style="margin-left:289px">Submit</button></div>
		</div>
            </form>
          </div>

        </div>

      </div>


	
	
	
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}