{% extends 'base11.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
	var catagory=document.getElementById("catagory")
	var price=document.getElementById("price")
	
	if(catagory.value.length == 0)
	{
		alert("Please enter the catagory")
		return false;
	}
	else if(price.value.length == 0)
	{
		alert("Please enter the price range")
		return false;
	}
	else
	{
		return true;
	}
	}
	</script>








<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:rgba(0,0,0,0.5)"> 
      <div class="container"  >

        <div class="section-title" >
          <h2>Search products</h2>
	<p> Search the items that you would like to purchase</p>
          
        </div>

        </div>

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'searchprobycatandpriAction' %}">
		{% csrf_token %}
              <div class="row">
                
		<div class="col-md-6 form-group">
                  <select name="catagory" id="catagory" style="width:100%;margin-left:130px ">
			<option value="">---select---</option>
				{% for v in data %}
			<option value="{{v.id}}">{{v.catagory}}
				{% endfor %}
		</select>
                </div>
                
		<div class="col-md-6 form-group">
                  <input type="text" name="price" class="form-control" id="price" placeholder="price" required style="width:100%;margin-left:130px ">
                </div>		

              </div>

	<div class="form-group mt-3">
		<div class="text-center" >
		<button type="submit" onclick="return validation()" style="margin-left:257px">Submit</button>
		
		</div>
</div>
            </form>
          </div>

        </div>
		
      </div>
			
    </section><!-- End Contact Section -->





 
	
	
{% endblock %}