{% extends 'base4.html' %}
{% block content %}

<script type="text/javascript">
	function validation()
	{
		var search=document.getElementById("search")
		if (search.value.length == 0)
		{
			alert("Please enter the product to search")
			return false;		
		}
		else
		{
			return true;
		}
		}
	</script>





<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:#000"> 
      <div class="container"  >

        <div class="section-title" >
          <h2>Search products</h2>
	<p> Search the items that you would like to purchase</p>
          
        </div>

        </div>

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'searchAction' %}">
		{% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="search" class="form-control" id="search" placeholder="search items" required style="width:100%;margin-left:130px ">
                </div>
                
              </div>
<div class="form-group mt-3">
		<div class="text-center" >
		
              <button type="submit" onclick="return validation()" style="margin-left:289px">Search</button>
		
		</div>
</div>
            </form>
          </div>

        </div>
		
      </div>
			
    </section><!-- End Contact Section -->






 
{% endblock %}	
		
	