{% extends 'base2.html' %}
{% block content %}
<script type="text/javascript">
	function validation()
	{
		
		var alpha=/^[a-zA-Z]+$/;
		var num=/^[0-9]+$/;

		var name=document.getElementById("name")
		var gender=document.form.gender
		var dob=document.getElementById("dob")
		var country=document.getElementById("country")
		var address=document.getElementById("address")
		var phone=document.getElementById("phone")
		var username=document.getElementById("username")
		var file=document.getElementById("file")
		
		if(name.value.length == 0)
		{
			alert("Please enter the name")
			return false;
		}
		else if(gender[0].checked == false && gender[1].checked == false)
		{
			alert("Please enter gender")
			return false;
		}
		else if(dob.value.length == 0)
		{
			alert("Please enter dob")
			return false;
		}
		else if(country.value.length == 0)
		{
			alert("Please enter country")
			return false;
		}
		else if(address.value.length == 0)
		{
			alert("Please enter address")
			return false;
		}
		else if(phone.value.length == 0)
		{
			alert("Please enter phone")
			return false;
		}
		else if(username.value.length == 0)
		{
			alert("Please enter username")
			return false;
		}
		else if(file.value.length == 0)
		{
			alert("Please upload the file")
			return false;
		}
		else
		{
		 	return true; 
		}
		}
	</script>


<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:#000">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Update Your Profilen</h2>
	<p>Kindly update the profile </p>
          </div>

        </div>

        <div class="row">

          

          <div class="col-lg-6">
            <form method="post" action="{% url 'updateProfileAction' %}" enctype="multipart/form-data" name="form">
		{% csrf_token %}
		{% for v in data %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" value="{{v.name}}" required style="width:200%;margin-left:186px">
                </div>

		
                <div class="col-md-6 form-group mt-3 mt-md-0" style="width:100%;margin-left:186px">
		{% if v.gender == 'male' %}
                  <input type="radio" name="gender" value="male" checked="true">MALE
				<input type="radio" name="gender" value="female">FEMALE
			{% else %}
			<input type="radio" name="gender" value="male">MALE
				<input type="radio" name="gender" value="female" checked="true">FEMALE
			{% endif %}

		
              </div>


              <div class="form-group mt-3">
                <input type="date" class="form-control" name="dob" id="dob" value={{v.dob}} required style="width:100%;margin-left:186px">
              </div>
		
		<div class="form-group mt-3">
                <select name="country" id="country" style="width:100%;margin-left:186px">
				<option value="{{v.country}}">{{v.country}}</option>
				<option value="">---select---</option>
				<option value="india">India</option>
				<option value="japan">Japan</option>
				<option value="newzealand">New Zealand</option>
				<option value="korea">Korea</option>
				</select>
              </div>


             
		<div class="form-group mt-3">
               <textarea class="form-control" name="address" rows="5" cols="10" id="address" required style="width:100%;margin-left:186px">{{v.address}}</textarea>
              </div>   
		<div class="form-group mt-3">
                <input type="text" class="form-control" name="phone" id="phone" value="{{v.phone}}" required style="width:100%;margin-left:186px">
              </div>
		<div class="form-group mt-3">
                <input type="text" class="form-control" name="username" id="username" value="{{v.username}}" required style="width:100%;margin-left:186px">
              </div>
		
		<ul><img src="{{v.file.url}}" height="100px" width="100px" alt="no pic" style="width:50%;margin-left:260px"></ul>
		
		<div class="form-group mt-3">
                <input type="file" class="form-control" name="file" id="file" value="{{v.file}}" placeholder="Upload File" required style="width:100%;margin-left:186px">
              </div>
              
		<div class="form-group mt-3">
              <div class="text-center"><button type="submit" onclick="return validation()" style="margin-left:289px">Update</button></div>
		</div>
		{% endfor %}
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}


{% endblock %}
	
	






<!-- ======= Contact Section ======= -->
   <!---- <section id="contact" class="contact section-bg" style="width:60%;margin:0 auto;color:white;background-color:#000">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Update Your Profile</h2>
          <p>Kindly update the profile </p>
        </div>

        

        <div class="row">

          
	
          <div class="col-lg-6">
            <form method="post" action="{% url 'updateProfileAction' %}" enctype="multipart/form-data" name="form">
		{% csrf_token %}
		{% for v in data %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" value="{{v.name}}" placeholder="Your Name" required style="width:100%;margin-left:186px">
                </div>
		{% if v.gender == 'male' %}
		<div class="col-md-6 form-group mt-3 mt-md-0" style="width:100%;margin-left:186px";>
			<input type="radio" name="gender" value="male" checked="true">MALE
				<input type="radio" name="gender" value="female">FEMALE
			{% else %}
			<input type="radio" name="gender" value="male">MALE
				<input type="radio" name="gender" value="female" checked="true">FEMALE
			{% endif %}
		</div>
		</div>
                <div class="form-group mt-3">
                  <input type="date" class="form-control" name="dob" id="dob" value={{v.dob}} placeholder="Your dob" required style="width:100%;margin-left:186px">
                </div>
              
		<div class="col-md-6 form-group mt-3 mt-md-0">
		<select name="country" id="country" style="width:100%;margin-left:186px">
				<option value="{{v.country}}">{{v.country}}</option>
				<option value="">---select---</option>
				<option value="india">India</option>
				<option value="japan">Japan</option>
				<option value="newzealand">New Zealand</option>
				<option value="korea">Korea</option>
				</select>
		</div>
              
              <div class="form-group mt-3">
                <textarea class="form-control" name="address" rows="10" cols="20" id="address" placeholder="Address" required style="width:100%;margin-left:186px">{{v.address}}</textarea>
              </div>
		<div class="form-group mt-3">
                <input type="text" class="form-control" name="phone" id="phone" value="{{v.phone}}" placeholder="Phone no" required style="width:100%;margin-left:186px">
              </div>
		<div class="form-group mt-3">
                <input type="text" class="form-control" name="username" id="username" value="{{v.username}}" placeholder="Username" required style="width:100%;margin-left:186px">
              </div>
		<ul><img src="{{v.file.url}}" height="100px" width="100px" alt="no pic" style="width:100%;margin-left:186px"></ul>
		<div class="form-group mt-3">
                <input type="file" class="form-control" name="file" id="file" value="{{v.file}}" placeholder="file" required style="width:100%;margin-left:186px">
              </div>								
              
              <div class="text-center"><button type="submit" onclick="return validation()">Update</button></div>
            </form>
{% endfor %}
          </div>

        </div>

      </div>---->
    </section><!-- End Contact Section -->




	
		

{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
