{% extends 'base4.html' %}
{% block content %}






<!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg" style="background-image:url('/static/Techie/Techie/assets/img/friends-shopping.jpg');background-repeat: no-repeat;background-attachment: fixed;
  background-size: cover;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>View Products</h2>
          <p>View the products in which you would like to delete or edit</p>
        </div>


	
        <div class="row">
{% for v in data %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>{{v.productname}}</h3>
              <h4>{{v.price}}</h4>
              <ul>
                <li>{{v.details}}</li>
                <li>{{v.stock}}</li>
                <li>{{v.catagoryid.catagory}}</li>
                <li><img src="{{v.file.url}}" height="100px" width="100px" alt="no pic"></li>
                <li><a href="{% url 'delete' v.id %}">Delete</a></li>
		<li><a href="{% url 'editp' v.id %}">Edit</a></li>
              </ul>
              
            </div>

          </div>
	
  {% endfor %}        
          

          

        </div>

      </div>
    </section><!-- End Pricing Section -->






		
	
{% if messages %}
	{% for msg in messages %}
		<script>
			alert('{{msg}}')
		</script>
	{% endfor %}
{% endif %}
{% endblock %}